<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Konversi suhu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <legend>Konversi suhu</legend>
        <p>
        <fieldset>
        <p>Celcius       : <b th:text="${suhu}"></b>
        <p>Reamur    : <b th:text="${r}"></b>
        <p>Farenheit      : <b th:text="${f}"></b>
        <p>Kelvin       : <b th:text="${k}"></b>
        </fieldset>
    </body>
</html>